In [1]:
import pandas as pd

from utils import load_parquet_to_df_list, z_normalize
from approximation.paa import PAA
from discretization.sax.one_d_sax import OneDSAX

In [2]:
# load time series dataset into dataframe and z-normalize it
path = "../../../0_data/UCRArchive_2018/SwedishLeaf/train"
df_list = load_parquet_to_df_list(path)

# concatenate all time series to one dataframe, because they all have the same length
df_norm = pd.concat([z_normalize(df["signal"].to_frame()) for df in df_list], axis=1).iloc[:, :2]
df_norm

       signal    signal
0    2.223633  1.879365
1    2.058567  1.733153
2    1.849589  1.579823
3    1.642328  1.402389
4    1.438219  1.257130
..        ...       ...
123  1.345195  1.162620
124  1.547908  1.314745
125  1.760490  1.500432
126  1.970141  1.657326
127  2.175866  1.846657

[128 rows x 2 columns]

In [3]:
paa = PAA(window_size=6)
df_paa = paa.transform(df_norm)
df_paa

      signal    signal
0   1.750459  1.489980
1   0.794762  0.640083
2  -0.035251  0.123632
3  -0.608049 -0.129974
4  -0.858602 -0.398119
5  -1.093425 -1.070109
6  -1.054961 -1.690607
7  -0.671168 -1.148322
8  -0.020219 -0.117851
9   0.680383  0.908803
10  1.755886  1.788207
11  1.364943  1.155902
12  0.338719  0.129358
13 -0.374918 -0.898051
14 -0.934704 -1.571379
15 -1.110405 -1.062053
16 -1.085517 -0.279250
17 -0.811475 -0.011726
18 -0.333839  0.063981
19  0.335475  0.399633
20  1.280905  1.093865

In [4]:
one_d_sax = OneDSAX(alphabet_size_slope=7)
df_one_d_sax = one_d_sax.transform(df_paa, df_norm, paa.window_size)
df_one_d_sax

   signal signal
0      ca     ca
1      ca     ca
2      ba     bb
3      ac     bb
4      ab     bb
5      ad     aa
6      ae     ac
7      ag     ag
8      bg     bg
9      cg     cg
10     cg     cf
11     ca     ca
12     ba     ba
13     ba     aa
14     ab     ad
15     ad     ag
16     ae     bg
17     af     bd
18     bg     be
19     bg     bg
20     cg     cg

In [5]:
df_avg = df_one_d_sax.applymap(lambda symbols: symbols[0])
df_slope = df_one_d_sax.applymap(lambda symbols: symbols[1])
df_avg

   signal signal
0       c      c
1       c      c
2       b      b
3       a      b
4       a      b
5       a      a
6       a      a
7       a      a
8       b      b
9       c      c
10      c      c
11      c      c
12      b      b
13      b      a
14      a      a
15      a      a
16      a      b
17      a      b
18      b      b
19      b      b
20      c      c

In [6]:
df_slope

   signal signal
0       a      a
1       a      a
2       a      b
3       c      b
4       b      b
5       d      a
6       e      c
7       g      g
8       g      g
9       g      g
10      g      f
11      a      a
12      a      a
13      a      a
14      b      d
15      d      g
16      e      g
17      f      d
18      g      e
19      g      g
20      g      g