In [1]:
import numpy as np
import pandas as pd

from discretization.persist.persist import Persist
from utils import load_parquet_to_df_list, z_normalize
from approximation.paa import PAA

In [2]:
path = "../../../0_data/UCRArchive_2018/SwedishLeaf/train"
df_list = load_parquet_to_df_list(path)

# concatenate time series to one dataframe, because all time series have the same length
df_norm = pd.concat([z_normalize(df["signal"].to_frame()) for df in df_list], axis=1).iloc[:, :2]

In [3]:
df_norm

       signal    signal
0    2.223633  1.879365
1    2.058567  1.733153
2    1.849589  1.579823
3    1.642328  1.402389
4    1.438219  1.257130
..        ...       ...
123  1.345195  1.162620
124  1.547908  1.314745
125  1.760490  1.500432
126  1.970141  1.657326
127  2.175866  1.846657

[128 rows x 2 columns]

In [4]:
df_paa = PAA(window_size=5).transform(df_norm)

In [5]:
persist = Persist(2, 7, 4)
df_persist = persist.transform(df_norm, df_paa)

In [6]:
df_persist

    0  1
0   d  f
1   d  f
2   c  e
3   b  d
4   b  c
5   b  c
6   a  b
7   a  a
8   b  a
9   b  c
10  c  e
11  c  f
12  d  f
13  d  f
14  c  e
15  c  c
16  b  b
17  a  a
18  a  b
19  a  c
20  a  d
21  b  d
22  c  d
23  c  e
24  d  f
25  d  f